<!-- lesson2 -->
{% extends "base.html" %}
{% load static%}
{% block content %}
{% for post in posts%}
<div class="card" style="width: 20rem; margin-left: 10px;">
  {% if post.image %}
  <img src="{{post.image.url}}" class="card-body" alt="...">
  {% else %}
  <img src="{% static 'placeholder.png' %}" class="card-body" alt="...">
  {% endif %}

  <div class="card-body">
    <h5 class="card-title">{{post.title}}</h5>
    <p class="card-text">{{post.content}}</p>
    <h6 class="card-title">{{post.rate}}</h6>
    <h6 class="card-title">Created at: {{post.created_at}}</h6>
    <h6 class="card-title">Updated at: {{post.updated_at}}</h6>
    <a href="/posts/{{post.id}}" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
{% endfor %}
{% endblock %}
